/* SEDES */
.h1videos
{
    font-family: 'Alfa Slab One', cursive;
    font-size: 6rem;
    text-align: center; 
    padding-bottom: 20px;
}

.videos
{
    width:100%; 
    text-align:center;
}

@media(max-width:715px)
{
    .h1videos
{
    font-size: 4rem;
    text-align: center;
}

}